body{width: 1200px; height: 100vh;min-height: 600px;background: linear-gradient(grey,white,grey);margin: 0 auto;
     display:grid;grid-template-areas:"h h" "n b" "m m" "f f"; grid-template-rows:auto auto 1fr auto}
header{grid-area:h}
#login,nav{grid-area:n;background-color: orange}
header img{width: 100%; display: block;height: 175px}
#bienvenida{grid-area:b;background-color: orange; text-align: right; padding-right: 10px}
#login{padding: 0 10px}
nav ol{display: inline-block; list-style: none; padding-left: 10px}
nav li{display: inline-block; padding: 0 10px}
nav li a{text-decoration: none; color: black}
#gol{height: 60%; width: 60%; display: block; border-radius: 10%; position:absolute; left: 20%; top: 20%}
main{grid-area:m; background-color: white; overflow: auto; position: relative}
main h1{text-align: center}
main form{width: 300px; margin: 1em auto}
main form label{display: inline-block; width: 150px; font-weight: bold}
main form input{width: 150px; box-sizing:border-box }
main form button{margin: 0 auto; display: block}
main form textarea{width: 300px; box-sizing: border-box}
main span{font-weight: bold} 
main ol{width: 800px; margin: 1em auto; padding-left: 0}
main li{list-style: none; border: solid lightgrey; border-width: 3px 0;margin: 7px 0; padding: 3px 0}
main table{margin: 0 auto}
main th, main td{padding: 0 30px; text-align: center; border: solid 1px}
main th{color: white; background-color: black}
.lados{margin: 0; display: flex; justify-content:space-between}
.derecha{margin: 0; text-align: right}
.advert{color: red; text-align: center}
.sinborde{border-width: 0; padding-left: 5px}
h1,footer,.centro{text-align: center}
footer{background-color: orange;grid-area:f}

 /* propiedades compatibles con IExplorer */
body {display:-ms-grid; -ms-grid-rows: auto auto 1fr auto; -ms-grid-columns:1fr 1fr}
header {-ms-grid-row:1; -ms-grid-column: 1; -ms-grid-column-span:2}
#login, nav {display:block; -ms-grid-row:2; -ms-grid-column: 1;}
#bienvenida {-ms-grid-row:2; -ms-grid-column: 2;}
main {-ms-grid-row:3; -ms-grid-column: 1; -ms-grid-column-span:2; display: block}
footer {-ms-grid-row:4; -ms-grid-column: 1; -ms-grid-column-span:2}